<div class="container vertical sample">
  <div class="legend-title">
      Olympic Medals By Country
  </div>
  <div class="legend">
      <igx-legend
      name="legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      name="Chart"
      #chart
      chartType="Line"
      [dataSource]="countryRenewableElectricity"
      [legend]="legend"
      yAxisTitle="TWh"
      computedPlotAreaMarginMode="Series">
      </igx-category-chart>
  </div>
</div>
