<div class="container vertical">
  <div class="legend-title">
      Olympic Medals By Country
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Line"
      yAxisTitle="TWh"
      [dataSource]="countryRenewableElectricity"
      [legend]="legend"
      computedPlotAreaMarginMode="Series"
      name="Chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
