<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="DataChart"
      isHorizontal="true"
      isWrappingEnabled="false"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="ReplayTransitionIn"
          label=""
          valueType="Button"
          primitiveValue="Replay"
          (buttonClicked)="this.editorButtonReplayTransitionIn($event)"
          name="propertyEditorPropertyDescription1"
          #propertyEditorPropertyDescription1>
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Facebook Consolidated Statements of Income
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false">
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          label="category"
          interval="1"
          [dataSource]="companyIncomeData"
          overlap="1">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Millions of Dollars"
          titleLeftMargin="10"
          titleAngle="-90"
          minimumValue="0"
          maximumValue="60">
          </igx-numeric-y-axis>
          <igx-waterfall-series
          name="WaterfallSeries1"
          #waterfallSeries1
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="companyIncomeData"
          valueMemberPath="costs"
          showDefaultTooltip="true"
          isTransitionInEnabled="true">
          </igx-waterfall-series>
          <igx-waterfall-series
          name="WaterfallSeries2"
          #waterfallSeries2
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="companyIncomeData"
          brush="rgba(116, 70, 185, 1)"
          outline="rgba(116, 70, 185, 1)"
          valueMemberPath="netIncome"
          showDefaultTooltip="true"
          isTransitionInEnabled="true">
          </igx-waterfall-series>
      </igx-data-chart>
  </div>
</div>
