<div class="container vertical sample">
  <div class="legend-title">
      Global Electricity Demand by Energy Use
  </div>
  <div class="legend">
      <igx-item-legend
      name="Legend"
      #legend
      orientation="Horizontal">
      </igx-item-legend>
  </div>
  <div class="container fill">
      <igx-pie-chart
      name="chart"
      #chart
      labelMemberPath="summary"
      labelsPosition="OutsideEnd"
      labelExtent="30"
      valueMemberPath="value"
      outlines="white"
      othersCategoryThreshold="10"
      othersCategoryType="Number"
      othersCategoryText="Others"
      radiusFactor="0.7"
      legendLabelMemberPath="category"
      [dataSource]="energyGlobalDemand"
      [legend]="legend">
      </igx-pie-chart>
  </div>
</div>
