<div class="container vertical">
    <div class="options vertical">
        <span id="legendTitle">Facebook Statement of Income 2019-2020</span>
        <div class="legend">
            <igx-legend #legend orientation="horizontal"></igx-legend>
        </div>
    </div>
    <div class="container">
        <igx-data-chart height="100%" width="100%" [legend]="legend"
                   isHorizontalZoomEnabled="false"
                   isVerticalZoomEnabled="false" [dataSource]="data">

            <igx-category-x-axis #xAxis label="Date" overlap="0" gap="0.1" useClusteringMode="true"></igx-category-x-axis>
            <igx-numeric-y-axis #yAxis1 abbreviateLargeNumbers="true" title="In Millions of U.S. Dollars"
                          titleLeftMargin="5" titleRightMargin="0"
                          minimumValue="0" maximumValue="30000000">
            </igx-numeric-y-axis>
            <igx-numeric-y-axis #yAxis2 abbreviateLargeNumbers="true" title="Percentage" majorStrokeThickness="0"
                          minimumValue="0" maximumValue="160" labelLocation="OutsideRight"
                          labelHorizontalAlignment="Left">
            </igx-numeric-y-axis>

            <igx-column-series #revenueSeries [xAxis]="xAxis" [yAxis]="yAxis1"
                          valueMemberPath="Revenue"
                          title="Revenue" markerType="Hidden">
            </igx-column-series>
            <igx-column-series #expenseSeries [xAxis]="xAxis" [yAxis]="yAxis1"
                          valueMemberPath="Expenses"
                          title="Expenses" markerType="Hidden">
            </igx-column-series>

            <igx-spline-area-series #incomeSeries [xAxis]="xAxis" [yAxis]="yAxis2"
                              valueMemberPath="IncomePerRevenue"
                              title="Income / Revenue %" markerType="Circle">
            </igx-spline-area-series>

            <igx-callout-layer isAutoCalloutBehaviorEnabled="false" [targetSeries]="revenueSeries"
                          useValueForAutoCalloutLabels="false"
                          calloutLeaderBrush="Transparent" calloutTextColor="Black"
                          calloutBackground = "Transparent" calloutPositionPadding="-5"
                          xMemberPath="RevenueX" yMemberPath="Revenue" labelMemberPath="FormattedRevenue">
            </igx-callout-layer>

            <igx-callout-layer isAutoCalloutBehaviorEnabled="false" [targetSeries]="expenseSeries"
                          useValueForAutoCalloutLabels="false"
                          calloutLeaderBrush="Transparent" calloutTextColor="Black"
                          calloutBackground="Transparent"  xMemberPath="ExpensesX" yMemberPath="Expenses"
                          labelMemberPath="FormattedExpenses" calloutPositionPadding="-5">
            </igx-callout-layer>

            <igx-callout-layer isAutoCalloutBehaviorEnabled="true" [targetSeries]="incomeSeries"
                          useValueForAutoCalloutLabels="true" calloutLeaderBrush="Transparent" calloutTextColor="Black"
                          calloutBackground = "LightGray" autoCalloutLabelPrecision="1">
            </igx-callout-layer>
        </igx-data-chart>
    </div>
</div>
