<div class="container vertical sample">
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="container fill">
      <igx-data-chart
      shouldAutoExpandMarginForInitialLabels="true"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart>
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          [dataSource]="countryRenewableElectricity"
          label="year">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="TWh"
          labelLocation="OutsideRight">
          </igx-numeric-y-axis>
          <igx-line-series
          name="lineSeries1"
          #lineSeries1
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="america"
          brush="rgba(137, 97, 169, 1)"
          markerOutline="rgba(137, 97, 169, 1)"
          shouldHideAutoCallouts="false">
          </igx-line-series>
          <igx-callout-layer
          name="CalloutLayer1"
          #calloutLayer1
          isAutoCalloutBehaviorEnabled="true"
          calloutLeaderBrush="rgba(137, 97, 169, 1)"
          calloutOutline="rgba(137, 97, 169, 1)"
          calloutBackground="white"
          calloutTextColor="rgba(137, 97, 169, 1)"
          calloutStrokeThickness="1"
          calloutCollisionMode="Greedy">
          </igx-callout-layer>
      </igx-data-chart>
  </div>
</div>
