<div class="container">
    <div class="options">
        <button (click)="exportGrid()">Export to Excel</button>
    </div>
    <igx-grid #grid [data]="data" [autoGenerate]="false" height="500px" width="100%">
        <igx-column field="Orders" header="Order History" resizable=true>
            <ng-template igxCell let-cell="cell" let-val>
              <igx-sparkline height="100%" width="100%" minimum=0 displayType="column" [dataSource]="val" valueMemberPath="Freight">
              </igx-sparkline>
            </ng-template>
          </igx-column>
        <igx-column field="CompanyName" header="Company Name"></igx-column>
        <igx-column field="ContactName" header="Contact Name"></igx-column>
        <igx-column field="ContactTitle" header="Contact Title"></igx-column>
        <igx-column field="Country" header="Country"></igx-column>
    </igx-grid>
</div>
