<div class="container vertical sample">
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      chartTitle="Population vs. Public Debt vs. GDP"
      titleTopMargin="10"
      titleBottomMargin="0">
          <igx-numeric-x-axis
          name="xAxis"
          #xAxis
          title="Population"
          minimumValue="100"
          maximumValue="10000000000"
          isLogarithmic="true"
          abbreviateLargeNumbers="true">
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Public Debt per GDP (%)"
          titleLeftMargin="10"
          isLogarithmic="true"
          abbreviateLargeNumbers="true"
          maximumValue="1000">
          </igx-numeric-y-axis>
          <igx-bubble-series
          name="bubbleSeries1"
          #bubbleSeries1
          title="Country"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="population"
          yMemberPath="publicDebt"
          radiusMemberPath="gdpPerPerson"
          yMemberAsLegendUnit="%"
          yMemberAsLegendLabel="Debt"
          xMemberAsLegendLabel="Population"
          radiusMemberAsLegendLabel="GDP"
          [dataSource]="worldStats"
          markerType="Circle"
          markerOutline="black"
          markerBrush="rgba(67, 162, 250, 1)"
          markerFillOpacity="0.5"
          markerThickness="1"
          showDefaultTooltip="true"
          [radiusScale]="sizeScale1">
          </igx-bubble-series>
          <igx-data-tool-tip-layer
          name="dataToolTipLayer"
          #dataToolTipLayer
          valueRowMarginTop="1"
          labelTextMarginTop="1"
          titleTextMarginTop="1"
          unitsTextMarginTop="1"
          valueRowMarginBottom="1"
          labelTextMarginBottom="1"
          titleTextMarginBottom="1"
          unitsTextMarginBottom="1"
          unitsTextMarginRight="5"
          valueTextMarginLeft="10"
          labelTextMarginLeft="1"
          groupingMode="Grouped"
          layoutMode="Vertical"
          badgeShape="Hidden"
          includedColumns="X, Y, Radius"
          headerRowVisible="false">
          </igx-data-tool-tip-layer>
      </igx-data-chart>
  </div>
</div>
