<div class="container sample">
    <div class="options horizontal">
        <span class="options-item">Selection Mode: </span>
        <select [(ngModel)]="spreadsheetSelectionMode" (change)="spreadsheetSelectionChanged($event)">
            <option>AddToSelection</option>
            <option>ExtendSelection</option>
            <option>Normal</option>
        </select>

        <span class="options-item">Enter Key Navigation Direction: </span>
        <select [(ngModel)]="enterKeyNavDirection" (change)="enterKeyNavDirectionChanged($event)">
            <option>Down</option>
            <option>Left</option>
            <option>Right</option>
            <option>Up</option>
        </select>

        <input type="range" min=50 max=300 [(ngModel)]="spreadsheetZoomLevel" step=10>
        <label class="options-item">Zoom Level: {{spreadsheetZoomLevel}}%</label>
    </div>
    <div class="options horizontal">
        <label class="options-item"><input type="checkbox" (change)="onProtectedChanged($event)" /> Is Protected</label>
        <label class="options-item"><input type="checkbox" [(ngModel)]="isFormulaBarVisible" /> Is Formula Bar
            Visible</label>
        <label class="options-item"><input type="checkbox" [(ngModel)]="isEnterKeyNavEnabled" /> Enter Key Navigation
            Enabled</label>
    </div>
    <div class="options horizontal">

        <label class="options-item"><input type="checkbox" checked=true
                (change)="onTabBarAreaVisibilityChanged($event)" /> Is Tab Bar
            Area Visible</label>
        <label class="options-item"><input type="checkbox" width="200px" [(ngModel)]="areGridlinesVisible" /> Are
            Gridlines
            Visible</label>
        <label class="options-item"><input type="checkbox" [(ngModel)]="areHeadersVisible" /> Are Headers Visible</label>
    </div>

    <igx-spreadsheet #spreadsheet height="100%" width="100%"
        [isFormulaBarVisible]="isFormulaBarVisible" [areGridlinesVisible]="areGridlinesVisible"
        [areHeadersVisible]="areHeadersVisible" [isEnterKeyNavigationEnabled]="isEnterKeyNavEnabled"
        [zoomLevel]="spreadsheetZoomLevel">
    </igx-spreadsheet>

</div>
