<div class="container sample">
  <div class="legend-title">
      Olympic Medals By Country
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Line"
      xAxisInterval="1"
      xAxisGap="0.125"
      xAxisOverlap="0"
      yAxisInterval="25"
      yAxisMinimumValue="50"
      yAxisMaximumValue="150"
      yAxisMinorInterval="5"
      xAxisLabelTopMargin="5"
      yAxisLabelRightMargin="0"
      xAxisLabelTextColor="gray"
      yAxisLabelTextColor="gray"
      yAxisTitleLeftMargin="5"
      xAxisTitleTextColor="gray"
      yAxisTitleTextColor="gray"
      xAxisLabelTextStyle="9pt Verdana"
      yAxisLabelTextStyle="9pt Verdana"
      xAxisTitleTextStyle="10pt Verdana"
      yAxisTitleTextStyle="10pt Verdana"
      xAxisMajorStroke="gray"
      yAxisMajorStroke="black"
      xAxisMajorStrokeThickness="0.5"
      yAxisMajorStrokeThickness="1"
      yAxisMinorStrokeThickness="0.5"
      xAxisTickLength="10"
      yAxisTickLength="10"
      xAxisTickStroke="black"
      yAxisTickStroke="black"
      xAxisTickStrokeThickness="0.5"
      yAxisTickStrokeThickness="0.5"
      xAxisTitle="Olympic Games"
      yAxisTitle="Total Medals"
      yAxisMinorStroke="gray"
      xAxisTitleAngle="0"
      yAxisTitleAngle="90"
      yAxisLabelLocation="OutsideRight"
      [dataSource]="olympicMedalsTopCountries"
      thickness="3"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
