<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="XAxisOverlap"
          name="XAxisOverlap"
          #xAxisOverlap
          label="X Axis - Overlap"
          shouldOverrideDefaultEditor="true"
          valueType="Slider"
          min="0"
          max="1"
          step="0.1"
          primitiveValue="0">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Highest Grossing Movie Franchises
  </div>
  <div class="legend">
      <igx-legend
      name="Legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      name="chart"
      #chart
      [dataSource]="highestGrossingMovies"
      chartType="Column"
      crosshairsSnapToData="true"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      xAxisInterval="1"
      xAxisOverlap="1">
      </igx-category-chart>
  </div>
</div>
