<div class="container vertical sample">
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      shouldAutoExpandMarginForInitialLabels="true"
      computedPlotAreaMarginMode="Series"
      isVerticalZoomEnabled="false"
      isHorizontalZoomEnabled="true"
      brushes="green red"
      outlines="green red"
      plotAreaMarginLeft="10"
      plotAreaMarginTop="0"
      plotAreaMarginRight="20"
      plotAreaMarginBottom="0"
      leftMargin="10"
      topMargin="0"
      rightMargin="20"
      bottomMargin="0"
      isWindowSyncedToVisibleRange="false"
      chartTitle="This Data Chart has multiple Data Annotation Layers bound to data that annotates important events and patterns in stock prices.">
          <igx-category-x-axis
          name="xAxisBottom"
          #xAxisBottom
          [dataSource]="stockTesla"
          label="index"
          tickLength="0"
          labelLocation="OutsideBottom"
          labelTextColor="rgba(0, 0, 0, 0)"
          labelTextStyle="normal normal 12px Verdana"
          labelExtent="140"
          labelLeftMargin="0"
          labelTopMargin="15"
          labelRightMargin="0"
          labelBottomMargin="15"
          labelAngle="90">
          </igx-category-x-axis>
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          [dataSource]="stockTesla"
          label="date"
          labelLeftMargin="0"
          labelTopMargin="5"
          labelRightMargin="0"
          labelBottomMargin="5">
          </igx-category-x-axis>
          <igx-category-x-axis
          name="xAxisTop"
          #xAxisTop
          [dataSource]="stockTesla"
          label="date"
          tickLength="0"
          labelLocation="OutsideTop"
          labelTextStyle="normal normal 12px Verdana"
          labelExtent="40"
          labelTextColor="rgba(0, 0, 0, 0)"
          labelLeftMargin="8"
          labelTopMargin="3"
          labelRightMargin="8"
          labelBottomMargin="5">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxisLeft"
          #yAxisLeft
          labelLocation="OutsideLeft"
          labelTextStyle="normal normal 12px Verdana"
          labelExtent="80"
          labelHorizontalAlignment="Right"
          labelLeftMargin="8"
          labelTopMargin="3"
          labelRightMargin="8"
          labelBottomMargin="5"
          minimumValue="0"
          maximumValue="550">
          </igx-numeric-y-axis>
          <igx-numeric-y-axis
          name="yAxisRight"
          #yAxisRight
          labelLocation="OutsideRight"
          labelTextStyle="normal normal 12px Verdana"
          labelExtent="80"
          labelHorizontalAlignment="Left"
          labelLeftMargin="8"
          labelTopMargin="3"
          labelRightMargin="8"
          labelBottomMargin="5"
          minimumValue="0"
          maximumValue="550">
          </igx-numeric-y-axis>
          <igx-financial-price-series
          name="series1"
          #series1
          title="Stock Price"
          displayType="Candlestick"
          [xAxis]="xAxis"
          [yAxis]="yAxisLeft"
          [dataSource]="stockTesla"
          openMemberPath="open"
          highMemberPath="high"
          lowMemberPath="low"
          closeMemberPath="close"
          showDefaultTooltip="false">
          </igx-financial-price-series>
          <igx-data-tool-tip-layer
          name="Tooltip"
          #tooltip
          includedColumns="high, low, open, close"
          layoutMode="Vertical">
          </igx-data-tool-tip-layer>
          <igx-data-annotation-strip-layer
          name="StripLayer"
          #stripLayer
          [dataSource]="annotationStripData"
          [targetAxis]="xAxisTop"
          centerLabelMemberPath="label"
          startValueMemberPath="start"
          endValueMemberPath="end"
          endLabelDisplayMode="Hidden"
          startLabelDisplayMode="Hidden"
          brush="black"
          outline="black"
          overlayTextColor="purple"
          overlayTextLocation="Hidden"
          overlayTextMemberPath="label">
          </igx-data-annotation-strip-layer>
          <igx-data-annotation-line-layer
          name="LineLayer52WeekRange"
          #lineLayer52WeekRange
          [dataSource]="annotationLineData1"
          [targetAxis]="yAxisRight"
          centerLabelXDisplayMode="Hidden"
          startLabelXDisplayMode="Hidden"
          startLabelYDisplayMode="DataValue"
          endLabelXDisplayMode="Hidden"
          endLabelYDisplayMode="DataValue"
          brush="purple"
          outline="purple"
          overlayTextColor="purple"
          overlayTextVerticalMargin="5"
          overlayTextHorizontalMargin="5"
          overlayTextLocation="OutsideBottomLeft"
          overlayTextMemberPath="label"
          startLabelXMemberPath="startLabel"
          endLabelXMemberPath="endLabel"
          startValueXMemberPath="startX"
          startValueYMemberPath="startY"
          endValueXMemberPath="endX"
          endValueYMemberPath="endY">
          </igx-data-annotation-line-layer>
          <igx-data-annotation-line-layer
          name="LineLayerGrowthAndDecline"
          #lineLayerGrowthAndDecline
          [dataSource]="annotationLineData2"
          [targetAxis]="xAxis"
          centerLabelXDisplayMode="Hidden"
          startLabelXDisplayMode="Hidden"
          endLabelXDisplayMode="Hidden"
          annotationBackgroundMode="BrightnessShift"
          brush="purple"
          outline="purple"
          overlayTextColor="purple"
          overlayTextVerticalMargin="-10"
          overlayTextHorizontalMargin="70"
          overlayTextMemberPath="label"
          startLabelXMemberPath="startLabel"
          endLabelXMemberPath="endLabel"
          startValueXMemberPath="startX"
          startValueYMemberPath="startY"
          endValueXMemberPath="endX"
          endValueYMemberPath="endY">
          </igx-data-annotation-line-layer>
          <igx-data-annotation-slice-layer
          name="SliceLayerStockSplit"
          #sliceLayerStockSplit
          [dataSource]="annotationSliceStockSplitData"
          [targetAxis]="xAxisBottom"
          brush="dodgerblue"
          annotationTextColor="white"
          annotationLabelMemberPath="label"
          annotationValueMemberPath="value"
          overlayTextMemberPath="label"
          overlayTextAngle="90"
          overlayTextVerticalMargin="20"
          overlayTextHorizontalMargin="0"
          overlayTextLocation="Hidden">
          </igx-data-annotation-slice-layer>
          <igx-data-annotation-slice-layer
          name="SliceLayerEarningsMissAnnotations"
          #sliceLayerEarningsMissAnnotations
          [dataSource]="annotationSliceEarningsMissData"
          [targetAxis]="xAxisBottom"
          brush="red"
          annotationTextColor="white"
          annotationLabelMemberPath="label"
          annotationValueMemberPath="value"
          overlayTextMemberPath="label"
          overlayTextAngle="90"
          overlayTextVerticalMargin="20"
          overlayTextHorizontalMargin="0"
          overlayTextLocation="Hidden">
          </igx-data-annotation-slice-layer>
          <igx-data-annotation-slice-layer
          name="SliceLayerEarningsBeatAnnotations"
          #sliceLayerEarningsBeatAnnotations
          [dataSource]="annotationSliceEarningsBeatData"
          [targetAxis]="xAxisBottom"
          brush="green"
          annotationTextColor="white"
          annotationLabelMemberPath="label"
          annotationValueMemberPath="value"
          overlayTextMemberPath="label"
          overlayTextAngle="90"
          overlayTextVerticalMargin="20"
          overlayTextHorizontalMargin="0"
          overlayTextLocation="Hidden">
          </igx-data-annotation-slice-layer>
      </igx-data-chart>
  </div>
</div>
