<div class="container sample">

  
  <div class="legend-title">
      Average Temperature Range in New York
  </div>
  
  <div class="container fill">
      <igx-category-chart
      chartType="Column"
      isCategoryHighlightingEnabled="true"
      yAxisLabelLeftMargin="0"
      yAxisTitleLeftMargin="10"
      yAxisTitleRightMargin="5"
      yAxisTitle="Temperature in Degrees Celsius"
      [dataSource]="temperatureAverageData"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      highlightingMode="FadeOthersSpecific"
      highlightingBehavior="NearestItemsAndSeries"
      crosshairsDisplayMode="None"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
