<div class="container sample">

  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="PropertyEditor"
      #propertyEditor>
          <igx-property-editor-property-description
          propertyPath="DataToolTipGroupedPositionModeX"
          label="Grouped X Position:"
          primitiveValue="PinRight"
          name="GroupedPositionXEditor"
          #groupedPositionXEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="DataToolTipGroupedPositionModeY"
          primitiveValue="PinTop"
          label="Grouped Y Position:"
          name="GroupedPositionYEditor"
          #groupedPositionYEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="DataToolTipGroupingMode"
          primitiveValue="Grouped"
          label="Grouping Mode:"
          name="GroupingModeEditor"
          #groupingModeEditor>
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Highest Grossing Movie Franchises
  </div>
  
  <div class="container fill">
      <igx-category-chart
      chartType="Column"
      xAxisInterval="1"
      yAxisLabelLeftMargin="0"
      yAxisTitleLeftMargin="10"
      yAxisTitleRightMargin="5"
      yAxisTitle="Billions of U.S. Dollars"
      dataToolTipGroupingMode="Grouped"
      dataToolTipGroupedPositionModeX="PinRight"
      dataToolTipGroupedPositionModeY="PinTop"
      [dataSource]="highestGrossingMovies"
      toolTipType="Data"
      crosshairsDisplayMode="None"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
