<div class="container vertical">
  <div class="legend-title">
      Market Share of Tech Companies
  </div>
  <div class="container fill">
      <igx-doughnut-chart
      name="chart"
      #chart>
          <igx-ring-series
          [dataSource]="companyMarketShares"
          valueMemberPath="value"
          labelMemberPath="summary"
          legendLabelMemberPath="category"
          outlines="white"
          name="series"
          #series>
          </igx-ring-series>
      </igx-doughnut-chart>
  </div>
</div>
