<div class="container vertical">
  <div class="legend-title">
      Distribution of Online Traffic Worldwide, by Device
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      [legend]="legend"
      name="chart"
      #chart>
          <igx-category-x-axis
          [dataSource]="onlineTrafficByDevice"
          gap="0.75"
          label="category"
          name="xAxis"
          #xAxis>
          </igx-category-x-axis>
          <igx-numeric-y-axis
          minimumValue="0"
          name="yAxis"
          #yAxis>
          </igx-numeric-y-axis>
          <igx-stacked-100-column-series
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="onlineTrafficByDevice"
          areaFillOpacity="1"
          showDefaultTooltip="true"
          name="Stacked100ColumnSeries"
          #stacked100ColumnSeries>
              <igx-stacked-fragment-series
              name="s1"
              #s1
              title="Desktop"
              valueMemberPath="desktop">
              </igx-stacked-fragment-series>
              <igx-stacked-fragment-series
              name="s2"
              #s2
              valueMemberPath="mobile"
              title="Mobile">
              </igx-stacked-fragment-series>
              <igx-stacked-fragment-series
              name="s3"
              #s3
              valueMemberPath="tablet"
              title="Tablet">
              </igx-stacked-fragment-series>
          </igx-stacked-100-column-series>
      </igx-data-chart>
  </div>
</div>
