<div class="container vertical">
    <div class="options horizontal">
        <label class="options-label" for="openFile">Choose Excel File:</label>
        <input class="button" id="openFile" type="file" (change)="openFile($event.target)" accept=".xls, .xlt, .xlsx, .xlsm, .xltm, .xltx">
        <button class="workbookButton" (click)="workbookSave()">
            <label>Save Workbook</label>
        </button>
    </div>

    <div class="container">
        <igx-spreadsheet #spreadsheet height="100%" width="100%">
        </igx-spreadsheet>
    </div>
</div>
