<div class="container vertical sample">
  <div class="options horizontal">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="Sparkline"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="FirstMarkerVisibility"
          label="First Markers"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="Visible, Collapsed"
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible"
          name="FirstMarkerVisibilityEditor"
          #firstMarkerVisibilityEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible"
          propertyPath="HighMarkerVisibility"
          label="High Markers"
          valueType="EnumValue"
          dropDownNames="Visible, Collapsed"
          name="HighMarkerVisibilityEditor"
          #highMarkerVisibilityEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible"
          propertyPath="LowMarkerVisibility"
          label="Low Markers"
          valueType="EnumValue"
          dropDownNames="Visible, Collapsed"
          name="LowMarkerVisibilityEditor"
          #lowMarkerVisibilityEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible"
          propertyPath="NegativeMarkerVisibility"
          label="Negative Markers"
          valueType="EnumValue"
          dropDownNames="Visible, Collapsed"
          name="NegativeMarkerVisibilityEditor"
          #negativeMarkerVisibilityEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible"
          propertyPath="LastMarkerVisibility"
          label="Last Markers"
          valueType="EnumValue"
          dropDownNames="Visible, Collapsed"
          name="LastMarkerVisibilityEditor"
          #lastMarkerVisibilityEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible"
          propertyPath="MarkerVisibility"
          label="All Markers"
          valueType="EnumValue"
          dropDownNames="Visible, Collapsed"
          name="MarkerVisibilityEditor"
          #markerVisibilityEditor>
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="container fill">
      <igx-sparkline
      markerVisibility="Visible"
      negativeMarkerVisibility="Visible"
      firstMarkerVisibility="Visible"
      lastMarkerVisibility="Visible"
      lowMarkerVisibility="Visible"
      highMarkerVisibility="Visible"
      markerSize="10"
      firstMarkerSize="10"
      lastMarkerSize="10"
      highMarkerSize="10"
      lowMarkerSize="10"
      negativeMarkerSize="10"
      minimum="0"
      maximum="60"
      [dataSource]="sparklineProfitData"
      valueMemberPath="value"
      labelMemberPath="label"
      displayType="Line"
      name="chart"
      #chart>
      </igx-sparkline>
  </div>
</div>
