<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="treemap"
      descriptionType="Treemap"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="LayoutType"
          name="LayoutTypeEditor"
          #layoutTypeEditor
          primitiveValue="Squarified"
          label="Layout">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="LayoutOrientation"
          name="LayoutOrientationEditor"
          #layoutOrientationEditor
          primitiveValue="Vertical"
          label="Orientation">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="HeaderDisplayMode"
          name="HeaderDisplayModeEditor"
          #headerDisplayModeEditor
          primitiveValue="Overlay"
          label="Headers">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="LabelVerticalAlignment"
          name="LabelVerticalAlignmentEditor"
          #labelVerticalAlignmentEditor
          primitiveValue="Center"
          label="Labels">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Comparing Population of Countries
  </div>
  <div class="container fill">
      <igx-treemap
      name="treemap"
      #treemap
      [dataSource]="countyHierarchicalData"
      rootTitle="Countries"
      parentIdMemberPath="parent"
      idMemberPath="name"
      labelMemberPath="name"
      valueMemberPath="population"
      fillBrushes="rgba(41, 158, 65, 1) rgba(78, 98, 207, 1) rgba(94, 53, 156, 1)"
      isFillScaleLogarithmic="true"
      headerDisplayMode="Overlay"
      parentNodeBottomPadding="0"
      parentNodeLeftPadding="0"
      parentNodeRightPadding="0"
      parentNodeTopPadding="0">
      </igx-treemap>
  </div>
</div>
