<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      name="PropertyEditor"
      #propertyEditor
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="DataChart"
      isHorizontal="true"
      isWrappingEnabled="true">
          <igx-property-editor-property-description
          propertyPath="HighlightedValuesDisplayMode"
          name="HighlightedValuesDisplayModeEditor"
          #highlightedValuesDisplayModeEditor
          label="Highlight Display Mode: "
          primitiveValue="Overlay">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="container fill">
      <igx-data-chart
      shouldAutoExpandMarginForInitialLabels="true"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart
      highlightedValuesDisplayMode="Overlay">
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          [dataSource]="countryRenewableElectricity"
          label="year">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis>
          </igx-numeric-y-axis>
          <igx-column-series
          name="ColumnSeries1"
          #columnSeries1
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="europe"
          [highlightedDataSource]="countryRenewableElectricityFiltered">
          </igx-column-series>
          <igx-column-series
          name="ColumnSeries2"
          #columnSeries2
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="china"
          [highlightedDataSource]="countryRenewableElectricityFiltered">
          </igx-column-series>
          <igx-column-series
          name="ColumnSeries3"
          #columnSeries3
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="america"
          [highlightedDataSource]="countryRenewableElectricityFiltered">
          </igx-column-series>
      </igx-data-chart>
  </div>
</div>
