<div class="container vertical sample">
  <div class="legend-title">
      Monthly Temperature Range in LA and NYC
  </div>
  <div class="legend">
      <igx-legend
      name="legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      [legend]="legend">
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          label="month"
          interval="1"
          [dataSource]="temperatureRangeData">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Temperature (in Celsius)"
          titleAngle="90"
          titleLeftMargin="10">
          </igx-numeric-y-axis>
          <igx-range-area-series
          name="rangeAreaSeries1"
          #rangeAreaSeries1
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          title="Los Angeles"
          lowMemberPath="lowLA"
          highMemberPath="highLA"
          showDefaultTooltip="false"
          [dataSource]="temperatureRangeData">
          </igx-range-area-series>
          <igx-range-area-series
          name="rangeAreaSeries2"
          #rangeAreaSeries2
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          title="New York"
          lowMemberPath="lowNY"
          highMemberPath="highNY"
          showDefaultTooltip="false"
          [dataSource]="temperatureRangeData">
          </igx-range-area-series>
          <igx-data-tool-tip-layer
          name="dataToolTipLayer"
          #dataToolTipLayer>
          </igx-data-tool-tip-layer>
      </igx-data-chart>
  </div>
</div>
