<div class="container sample">

  
  <div class="legend-title">
      Annual Birth Rates by World Region
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      [legend]="legend"
      name="chart"
      #chart>
          <igx-category-x-axis
          [dataSource]="continentsBirthRate"
          gap="0.75"
          label="year"
          name="xAxis"
          #xAxis>
          </igx-category-x-axis>
          <igx-numeric-y-axis
          minimumValue="0"
          maximumValue="140"
          interval="20"
          title="Millions of Births"
          titleAngle="-90"
          labelFormat="{0} m"
          name="yAxis"
          #yAxis>
          </igx-numeric-y-axis>
          <igx-stacked-area-series
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          markerType="Circle"
          [dataSource]="continentsBirthRate"
          showDefaultTooltip="true"
          name="StackedAreaSeries"
          #stackedAreaSeries>
              <igx-stacked-fragment-series
              name="s1"
              #s1
              valueMemberPath="asia">
              </igx-stacked-fragment-series>
              <igx-stacked-fragment-series
              name="s2"
              #s2
              valueMemberPath="africa">
              </igx-stacked-fragment-series>
              <igx-stacked-fragment-series
              name="s3"
              #s3
              valueMemberPath="europe">
              </igx-stacked-fragment-series>
              <igx-stacked-fragment-series
              name="s4"
              #s4
              valueMemberPath="northAmerica">
              </igx-stacked-fragment-series>
              <igx-stacked-fragment-series
              name="s5"
              #s5
              valueMemberPath="southAmerica">
              </igx-stacked-fragment-series>
          </igx-stacked-area-series>
      </igx-data-chart>
  </div>
</div>
