<div class="container vertical sample">
  <div class="legend-title">
      Global Electricity Demand by Energy Use
  </div>
  <div class="legend">
      <igx-item-legend
      name="legend"
      #legend
      orientation="Horizontal">
      </igx-item-legend>
  </div>
  <div class="container fill">
      <igx-pie-chart
      name="chart"
      #chart
      legendLabelMemberPath="category"
      valueMemberPath="value"
      labelMemberPath="summary"
      labelsPosition="OutsideEnd"
      labelExtent="30"
      brushes="rgba(247, 210, 98, 1) rgba(168, 168, 183, 1) rgba(224, 81, 169, 1) rgba(248, 161, 95, 1) rgba(115, 86, 86, 1)"
      outlines="white"
      radiusFactor="0.7"
      startAngle="0"
      [dataSource]="energyGlobalDemand"
      [legend]="legend">
      </igx-pie-chart>
  </div>
</div>
