<div class="container sample">
  <div class="legend">
      <igx-data-legend
      includedColumns="Open, Close, High, Low, Change"
      valueFormatMode="Currency"
      valueTextColor="rgba(0, 173, 3, 1)"
      valueTextStyle="normal bold 14px Verdana"
      [target]="chart"
      unitsText="K"
      unitsTextColor="rgba(0, 173, 3, 1)"
      unitsTextStyle="normal bold 14px Verdana"
      labelTextColor="rgba(74, 74, 74, 1)"
      name="Legend"
      #legend>
      </igx-data-legend>
  </div>
  <div class="container fill">
      <igx-financial-chart
      isHorizontalZoomEnabled="true"
      zoomSliderType="None"
      isVerticalZoomEnabled="true"
      yAxisTitle="Thousands of Dollars ($)"
      [dataSource]="stockGoogle"
      toolTipType="None"
      name="chart"
      #chart>
      </igx-financial-chart>
  </div>
</div>
