<div class="container vertical sample">
  <div class="legend">
      <igx-data-legend
      name="Legend"
      #legend
      [target]="chart"
      includedColumns="Open, Close, High, Low, Change"
      labelTextColor="rgba(74, 74, 74, 1)"
      unitsText="K"
      unitsTextColor="rgba(0, 173, 3, 1)"
      unitsTextStyle="normal bold 14px Verdana"
      valueFormatMode="Currency"
      valueTextColor="rgba(0, 173, 3, 1)"
      valueTextStyle="normal bold 14px Verdana">
      </igx-data-legend>
  </div>
  <div class="container fill">
      <igx-financial-chart
      name="chart"
      #chart
      isVerticalZoomEnabled="true"
      isHorizontalZoomEnabled="true"
      [dataSource]="stockGoogle"
      toolTipType="None"
      yAxisTitle="Thousands of Dollars ($)"
      zoomSliderType="None">
      </igx-financial-chart>
  </div>
</div>
