<div class="container vertical sample">
  <div class="legend-title">
      Facebook Consolidated Statements of Income
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false">
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          label="category"
          interval="1"
          [dataSource]="companyIncomeData"
          overlap="1">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Millions of Dollars"
          titleAngle="90"
          titleLeftMargin="10"
          minimumValue="0"
          maximumValue="60">
          </igx-numeric-y-axis>
          <igx-waterfall-series
          name="WaterfallSeries1"
          #waterfallSeries1
          title="Value"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="companyIncomeData"
          valueMemberPath="costs"
          showDefaultTooltip="true"
          isTransitionInEnabled="true">
          </igx-waterfall-series>
          <igx-waterfall-series
          name="WaterfallSeries2"
          #waterfallSeries2
          title="Value"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="companyIncomeData"
          brush="rgba(116, 70, 185, 1)"
          outline="rgba(116, 70, 185, 1)"
          valueMemberPath="netIncome"
          showDefaultTooltip="true"
          isTransitionInEnabled="true">
          </igx-waterfall-series>
      </igx-data-chart>
  </div>
</div>
