<div class="container sample">

  
  
  <div class="legend">
      <igx-data-legend
      includedColumns="Open, Close, High, Low, Change"
      [target]="chart"
      name="Legend"
      #legend>
      </igx-data-legend>
  </div>
  <div class="container fill">
      <igx-financial-chart
      isHorizontalZoomEnabled="true"
      chartType="Candle"
      zoomSliderType="None"
      isVerticalZoomEnabled="true"
      dataToolTipHeaderFormatTime="None"
      [dataSource]="multipleStocks"
      name="chart"
      #chart>
      </igx-financial-chart>
  </div>
</div>
