<div class="container vertical sample">
  <div class="container fill">
      <igx-financial-chart
      name="chart"
      #chart
      isVerticalZoomEnabled="true"
      isHorizontalZoomEnabled="true"
      [dataSource]="stockGoogle"
      toolTipType="Data"
      dataToolTipIncludedColumns="Open, Close, High, Low, Change"
      dataToolTipLabelTextColor="rgba(74, 74, 74, 1)"
      dataToolTipUnitsText="K"
      dataToolTipUnitsTextColor="rgba(0, 173, 3, 1)"
      dataToolTipUnitsTextStyle="normal bold 14px Verdana"
      dataToolTipValueFormatMode="Currency"
      dataToolTipValueTextColor="rgba(0, 173, 3, 1)"
      dataToolTipValueTextStyle="normal bold 14px Verdana"
      dataToolTipHeaderFormatTime="None"
      yAxisTitle="Thousands of Dollars ($)"
      zoomSliderType="None">
      </igx-financial-chart>
  </div>
</div>
