<div class="container vertical sample">
  <div class="options horizontal">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="PropertyEditor"
      #propertyEditor>
          <igx-property-editor-property-description
          propertyPath="FinalValueAnnotationsVisible"
          label="Final Value Visible"
          shouldOverrideDefaultEditor="true"
          primitiveValue="True"
          name="FinalValueAnnotationsEditor"
          #finalValueAnnotationsEditor>
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Average Temperature in Sedney
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Column"
      yAxisMaximumValue="35"
      yAxisLabelLocation="OutsideRight"
      [dataSource]="temperatureAnnotatedData"
      includedProperties="month, temperature"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      computedPlotAreaMarginMode="Series"
      crosshairsAnnotationYAxisPrecision="0"
      finalValueAnnotationsVisible="true"
      finalValueAnnotationsBackground="dodgerblue"
      finalValueAnnotationsTextColor="white"
      finalValueAnnotationsPrecision="0"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
