<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="Sparkline"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="TrendLineType"
          name="TrendLineTypeEditor"
          #trendLineTypeEditor
          label="Trendline Type"
          shouldOverrideDefaultEditor="true"
          valueType="EnumValue"
          dropDownNames="CubicFit, CumulativeAverage, ExponentialAverage, ExponentialFit, LinearFit, LogarithmicFit, ModifiedAverage, None, PowerLawFit, QuadraticFit, QuarticFit, QuinticFit, SimpleAverage, WeightedAverage"
          dropDownValues="CubicFit, CumulativeAverage, ExponentialAverage, ExponentialFit, LinearFit, LogarithmicFit, ModifiedAverage, None, PowerLawFit, QuadraticFit, QuarticFit, QuinticFit, SimpleAverage, WeightedAverage"
          primitiveValue="CubicFit">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="container fill">
      <igx-sparkline
      name="chart"
      #chart
      [dataSource]="sparklineMixedData"
      displayType="Area"
      labelMemberPath="label"
      valueMemberPath="value"
      trendLineType="CubicFit">
      </igx-sparkline>
  </div>
</div>
