<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="Sparkline"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="NormalRangeVisibility"
          name="NormalRangeVisibilityEditor"
          #normalRangeVisibilityEditor
          label="Normal Range Visibility"
          shouldOverrideDefaultEditor="true"
          valueType="EnumValue"
          dropDownNames="Visible, Collapsed"
          dropDownValues="Visible, Collapsed"
          primitiveValue="Visible">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="NormalRangeMinimum"
          name="NormalRangeMinimumEditor"
          #normalRangeMinimumEditor
          label="Normal Range Minimum"
          shouldOverrideDefaultEditor="true"
          valueType="EnumValue"
          dropDownNames="0, 10, 15, 20, 25, 30"
          dropDownValues="0, 10, 15, 20, 25, 30"
          primitiveValue="25">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="NormalRangeMaximum"
          name="NormalRangeMaximumEditor"
          #normalRangeMaximumEditor
          label="Normal Range Maximum"
          shouldOverrideDefaultEditor="true"
          valueType="EnumValue"
          dropDownNames="0, 10, 15, 20, 25, 30"
          dropDownValues="0, 10, 15, 20, 25, 30"
          primitiveValue="25">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="container fill">
      <igx-sparkline
      name="chart"
      #chart
      [dataSource]="sparklineMixedData"
      displayType="Area"
      labelMemberPath="label"
      valueMemberPath="value"
      normalRangeVisibility="Visible"
      normalRangeMinimum="15"
      normalRangeMaximum="25">
      </igx-sparkline>
  </div>
</div>
