<div class="home">
    <!-- <section class="header">
        <img style="padding: 1rem;" src="../../assets/images/nav/logo-ignite-white.svg" />
    </section> -->
    <section class="content">
        <h2 class="title bannerText">
            Welcome to Data Visualization Samples Browser
        </h2>
    </section>
    <section class="content">
        <!-- <h2 class="title bannerText">
            Welcome to Sample Browser for Ignite UI Angular DV
        </h2> -->

        <!-- <div class="horizontal" >
            <img  class="nav-sidebar-logo" src="assets/images/nav/logo-ignite-white.svg" alt="Ignite UI for Angular Logo">
            <span class="nav-sidebar-platform">Angular DV</span>
        </div> -->

        <p class="description bannerText">
            Browse the left menu to see the complete set of samples for each control. You’ll see the full array of capabilities in Ignite
            UI for Angular, all the different features for the controls and how they are implemented.
        </p>
    </section>
    <section class="content">
        <!-- <h3 class="contentTitle">
            Building your first Ignite UI for Angular app
        </h3>
        <p class="contentText">
            After you’ve looked at the Ignite UI for Angular samples and explored the online docs, it’s time to get started building
            your first Ignite UI for Angular app. Using the Ignite UI for Angular CLI (Command Line Interface), it’s super-easy
            to get started building full-featured Angular apps. Our CLI gives you the ability to initialize, develop, scaffold,
            and maintain applications in Angular with Ignite UI, all with pre-set navigation, templates for each control
            and full screen views that can help you kick off any type of Angular app development.
        </p>
        <p class="contentText">
            We’ve included 2 videos that will help you install the pre-requisites and walk you through using the Ignite UI for Angular
            CLI to build your first Ignite UI for Angular app.
        </p>
        <div class="videos">
            <div class="videoWrapper">
                <a class="video videoInstall" href="https://youtu.be/lsEY90yYQIs" target="_blank">
                    <img src="../../assets/images/home/Play.svg" />
                </a>
                <p class="videoText">Installing the Ignite UI for Angular CLI</p>
            </div>
            <div class="videoWrapper">
                <a class="video videoBuild" href="https://youtu.be/QK_NsdtdA70" target="_blank">
                    <img src="../../assets/images/home/Play.svg" />
                </a>
                <p class="videoText">Building Your First Ignite UI CLI App</p>
            </div>
        </div>
        <div class="installDescription">
            <p>
                If you are already familiar with node.js and using a CLI, you can skip the videos and type:
            </p>
            <span class="code-snippet">
                npm install igniteui-cli –g
            </span>
            <p>
                in Terminal, PowerShell or Bash to install our CLI. We include an alias, so just type:
            </p>
            <span class="code-snippet">
                ig
            </span>
            <p>
                to get started with the wizard, or type
            </p>
            <span class="code-snippet">
                ig -v
            </span>
            <p>
                to check the version or to get a list of commands, type
            </p>
            <span class="code-snippet">
                ig -h
            </span>bannerArea
        </div> -->
        <div class="horizontal ">
            <div>
            </div>
            <div class="bannerItem">
                <p class="bannerText">To get further help if you need it, or if you run into any issues, visit these websites:</p>
                <div class="vertical">
                    <a class="bannerButton sbNavigation-control" href="https://www.infragistics.com/products/ignite-ui-angular/angular/components/charts/chart-overview" target="_blank">Ignite UI for Angular Documentation</a>
                    <a class="bannerButton sbNavigation-control" href="https://github.com/IgniteUI/igniteui-angular-examples/tree/master" target="_blank">Ignite UI for Angular Examples</a>
                    <a class="bannerButton sbNavigation-control" href="https://www.infragistics.com/community/forums/f/ignite-ui-for-angular" target="_blank">Ignite UI for Angular Forums</a>

                </div>

             </div>
        </div>
    </section>
</div>
<!-- <section class="footer">
    <img src="../../assets/images/home/ig-logo.svg" />
</section> -->
