<div class="container vertical sample">
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      isHorizontalZoomEnabled="true"
      isVerticalZoomEnabled="true"
      chartTitle="Public Debt vs. Population"
      subtitle="GDP per Capita">
          <igx-numeric-x-axis
          name="xAxis"
          #xAxis
          minimumValue="10000"
          maximumValue="10000000000"
          isLogarithmic="true"
          abbreviateLargeNumbers="true"
          title="Population">
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          isLogarithmic="true"
          logarithmBase="10"
          title="Public Debt per GDP">
          </igx-numeric-y-axis>
          <igx-bubble-series
          name="bubbleSeries1"
          #bubbleSeries1
          xMemberPath="population"
          yMemberPath="publicDebt"
          radiusMemberPath="gdpPerPerson"
          [radiusScale]="sizeScale1"
          fillMemberPath="gdpPerPerson"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="worldStats"
          markerType="Circle"
          markerOutline="black"
          showDefaultTooltip="true"
          [fillScale]="valueBrushScale1">
          </igx-bubble-series>
      </igx-data-chart>
  </div>
</div>
