<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      name="editor"
      #editor
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true">
          <igx-property-editor-property-description
          propertyPath="InitialGroupsHandler"
          name="InitialGroups"
          #initialGroups
          label="Initial Groups"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="Country, Product, MonthName, Year"
          dropDownValues="Country, Product, MonthName, Year"
          primitiveValue="Country"
          (changed)="this.editorChangeUpdateInitialGroups($event)">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="container fill">
      <igx-category-chart
      name="chart"
      #chart
      [dataSource]="salesData"
      chartType="Column"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      crosshairsDisplayMode="None"
      initialGroups="Country"
      initialSummaries="Sum(Sales) as Sales"
      groupSorts="Sales Desc">
      </igx-category-chart>
  </div>
</div>
