<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="InitialGroups"
          name="InitialGroups"
          #initialGroups
          label="Initial Groups"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="Country, Product, MonthName, Year"
          dropDownValues="Country, Product, MonthName, Year"
          primitiveValue="Country">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="InitialSummaries"
          name="InitialSummaries"
          #initialSummaries
          label="Initial Summaries"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="Sum(Sales), Avg(Sales), Min(Sales), Max(Sales), Count(Sales)"
          dropDownValues="Sum(Sales) as Sales, Avg(Sales) as Sales, Min(Sales) as Sales, Max(Sales) as Sales, Count(Sales) as Sales"
          primitiveValue="Sum(Sales) as Sales">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="GroupSorts"
          name="GroupSorts"
          #groupSorts
          label="Sort Groups"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="Sales Desc, Sales Asc"
          dropDownValues="Sales Desc, Sales Asc"
          primitiveValue="Sales Desc">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="container fill">
      <igx-category-chart
      name="chart"
      #chart
      [dataSource]="salesData"
      chartType="Column"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      crosshairsDisplayMode="None"
      initialGroups="Country"
      initialSummaries="Sum(Sales) as Sales"
      groupSorts="Sales Desc">
      </igx-category-chart>
  </div>
</div>
