<div class="container sample">
  <div class="legend-title">
      Percentage Change in Energy Generation
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Column"
      xAxisGap="0.5"
      isCategoryHighlightingEnabled="true"
      xAxisMajorStroke="lightgray"
      [dataSource]="energyRenewableConsumption"
      brushes="rgba(157, 231, 114, 1) rgba(139, 91, 177, 1) rgba(109, 177, 255, 1) rgba(238, 88, 121, 1) rgba(248, 161, 95, 1)"
      outlines="white"
      [legend]="legend"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      isSeriesHighlightingEnabled="true"
      highlightingMode="FadeOthersSpecific"
      highlightingBehavior="NearestItemsAndSeries"
      crosshairsDisplayMode="None"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
