<div class="container vertical sample">
  <div class="legend-title">
      Total Population of Selected Countries
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart>
          <igx-numeric-x-axis
          name="xAxis"
          #xAxis
          title="Population"
          isLogarithmic="true"
          abbreviateLargeNumbers="true">
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Public Debt"
          isLogarithmic="false"
          abbreviateLargeNumbers="true"
          maximumValue="120">
          </igx-numeric-y-axis>
          <igx-bubble-series
          name="BubbleSeries1"
          #bubbleSeries1
          xMemberPath="population"
          yMemberPath="publicDebt"
          radiusMemberPath="gdpPerCapita"
          [radiusScale]="sizeScale1"
          fillMemberPath="gdpPerCapita"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="worldDebtAndPopulation"
          markerType="Circle"
          showDefaultTooltip="true">
          </igx-bubble-series>
          <igx-data-tool-tip-layer
          name="DataToolTipLayer"
          #dataToolTipLayer>
          </igx-data-tool-tip-layer>
      </igx-data-chart>
  </div>
</div>
