<div class="container vertical">
  <div class="legend-title">
      GDP per Capita vs Population
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart>
          <igx-numeric-x-axis
          isLogarithmic="true"
          abbreviateLargeNumbers="true"
          title="Population"
          name="xAxis"
          #xAxis>
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          isLogarithmic="false"
          abbreviateLargeNumbers="true"
          title="GDP per Capita"
          name="yAxis"
          #yAxis>
          </igx-numeric-y-axis>
          <igx-bubble-series
          radiusMemberPath="population"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="population"
          yMemberPath="gDP"
          markerType="Circle"
          [dataSource]="countryStatsEurope"
          showDefaultTooltip="true"
          title="European Countries"
          name="BubbleSeries1"
          #bubbleSeries1>
          </igx-bubble-series>
      </igx-data-chart>
  </div>
</div>
