<div class="container vertical">

        <igx-linear-gauge
            #linearGauge
            height="80px" 
            width="400px"
            value=70
            minimumValue=0 
            maximumValue=100 
            interval=10
            labelInterval=10
            labelExtent=0.025
            labelsPreTerminal=0
            labelsPostInitial=0
            highlightValueDisplayMode="Overlay"
            highlightValue=25
            isHighlightNeedleDraggingEnabled=true
            >
        </igx-linear-gauge>
</div>
