<div class="container vertical sample">
  <div class="legend-title">
      Life Expectancy vs Health Expenditure
  </div>
  <div class="legend">
      <igx-legend
      name="legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      [legend]="legend">
          <igx-numeric-x-axis
          name="xAxis"
          #xAxis
          title="Life Expectancy (in years)"
          minimumValue="72"
          maximumValue="84"
          interval="2">
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Health Expenditure per Capita"
          abbreviateLargeNumbers="true"
          minimumValue="1000"
          maximumValue="6000"
          interval="1000">
          </igx-numeric-y-axis>
          <igx-scatter-spline-series
          name="scatterSplineSeries1"
          #scatterSplineSeries1
          title="Germany"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="lifeExpectancy"
          yMemberPath="healthExpense"
          [dataSource]="healthDataForGermany"
          markerType="Circle"
          showDefaultTooltip="true">
          </igx-scatter-spline-series>
          <igx-scatter-spline-series
          name="scatterSplineSeries2"
          #scatterSplineSeries2
          title="France"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="lifeExpectancy"
          yMemberPath="healthExpense"
          [dataSource]="healthDataForFrance"
          markerType="Circle"
          showDefaultTooltip="true">
          </igx-scatter-spline-series>
          <igx-data-tool-tip-layer
          name="dataToolTipLayer"
          #dataToolTipLayer>
          </igx-data-tool-tip-layer>
      </igx-data-chart>
  </div>
</div>
