<div class="container vertical sample">
  <div class="legend-title">
      Life Expectancy vs Health Expenditure
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      [legend]="legend"
      name="chart"
      #chart>
          <igx-numeric-x-axis
          minimumValue="72"
          maximumValue="84"
          interval="2"
          title="Life Expectancy (in years)"
          name="xAxis"
          #xAxis>
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          minimumValue="1000"
          maximumValue="6000"
          interval="1000"
          abbreviateLargeNumbers="true"
          title="Health Expenditure per Capita"
          name="yAxis"
          #yAxis>
          </igx-numeric-y-axis>
          <igx-scatter-spline-series
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="lifeExpectancy"
          yMemberPath="healthExpense"
          markerType="Circle"
          [dataSource]="healthDataForGermany"
          showDefaultTooltip="true"
          title="Germany"
          name="ScatterSplineSeries1"
          #scatterSplineSeries1>
          </igx-scatter-spline-series>
          <igx-scatter-spline-series
          title="France"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="lifeExpectancy"
          yMemberPath="healthExpense"
          [dataSource]="healthDataForFrance"
          markerType="Circle"
          showDefaultTooltip="true"
          name="ScatterSplineSeries2"
          #scatterSplineSeries2>
          </igx-scatter-spline-series>
      </igx-data-chart>
  </div>
</div>
