<div class="container vertical sample">
  <div class="container fill">
      <igx-financial-chart
      chartType="Candle"
      zoomSliderType="None"
      dataToolTipIncludedColumns="Close, Change, Value"
      dataToolTipExcludedColumns="High, Low, Open, Volume"
      dataToolTipValueFormatMode="Currency"
      dataToolTipValueFormatCulture="en-GB"
      dataToolTipHeaderFormatTime="None"
      dataToolTipLabelDisplayMode="Hidden"
      [dataSource]="multipleStocks"
      toolTipType="Data"
      name="chart"
      #chart>
      </igx-financial-chart>
  </div>
</div>
