<div class="container vertical sample">
  <div class="legend-title">
      Highest Grossing Movie Franchises
  </div>
  <div class="container fill">
      <igx-category-chart
      name="chart"
      #chart
      chartType="Column"
      [dataSource]="highestGrossingMovies"
      toolTipType="Data"
      dataToolTipUnitsText="B"
      dataToolTipValueFormatMode="Decimal"
      dataToolTipValueFormatMinFractions="2"
      xAxisInterval="1"
      yAxisTitle="Billions of U.S. Dollars"
      yAxisTitleLeftMargin="10"
      yAxisTitleRightMargin="5"
      yAxisLabelLeftMargin="0"
      isCategoryHighlightingEnabled="true"
      crosshairsDisplayMode="None"
      highlightingMode="FadeOthersSpecific"
      highlightingBehavior="NearestItemsAndSeries">
      </igx-category-chart>
  </div>
</div>
