<div class="container sample">

  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="false"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="YAxisLabelLocation"
          label="Y Axis - Label Location"
          primitiveValue="OutsideRight">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Line"
      xAxisInterval="1"
      yAxisTitle="Labels Location"
      yAxisLabelLocation="OutsideRight"
      [dataSource]="countryRenewableElectricity"
      includedProperties="Year, Europe, China, USA"
      [legend]="legend"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
