<div class="container vertical sample">
  <div class="legend-title">
      Roadblocks Critical to Success of the Data & Analytics Team
  </div>
  <div class="legend">
      <igx-legend
      name="legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      name="Chart"
      #chart
      [legend]="legend">
          <igx-category-y-axis
          name="yAxis1"
          #yAxis1
          label="category"
          [dataSource]="roadblocksToSuccess"
          gap="0.25"
          labelExtent="0">
          </igx-category-y-axis>
          <igx-category-y-axis
          name="yAxis2"
          #yAxis2
          label="category"
          [dataSource]="roadblocksToSuccess"
          gap="1"
          labelHorizontalAlignment="Right">
          </igx-category-y-axis>
          <igx-numeric-x-axis
          name="xAxis"
          #xAxis
          minimumValue="0"
          maximumValue="50"
          useEnhancedIntervalManagement="true"
          labelFormat="{0}%"
          strokeThickness="2"
          stroke="gray"
          tickLength="5">
          </igx-numeric-x-axis>
          <igx-category-highlight-layer
          name="CategoryHighlightLayer"
          #categoryHighlightLayer>
          </igx-category-highlight-layer>
          <igx-bar-series
          name="BarSeries1"
          #barSeries1
          [xAxis]="xAxis"
          [yAxis]="yAxis1"
          title="Sum of Top 3 Choices"
          valueMemberPath="topChoices"
          [dataSource]="roadblocksToSuccess"
          showDefaultTooltip="true"
          isTransitionInEnabled="true"
          isHighlightingEnabled="true"
          markerType="Hidden">
          </igx-bar-series>
          <igx-bar-series
          name="BarSeries2"
          #barSeries2
          [xAxis]="xAxis"
          [yAxis]="yAxis2"
          title="Top Choice"
          valueMemberPath="firstChoice"
          [dataSource]="roadblocksToSuccess"
          showDefaultTooltip="true"
          isTransitionInEnabled="true"
          isHighlightingEnabled="true"
          markerType="Hidden">
          </igx-bar-series>
          <igx-callout-layer
          name="CalloutLayer1"
          #calloutLayer1
          isAutoCalloutBehaviorEnabled="true"
          calloutLeaderBrush="rgba(0, 0, 0, 0)"
          calloutOutline="rgba(0, 0, 0, 0)"
          calloutBackground="rgba(0, 0, 0, 0)"
          calloutTextColor="black"
          calloutStrokeThickness="2"
          calloutPaddingTop="0"
          calloutPositionPadding="0">
          </igx-callout-layer>
          <igx-callout-layer
          name="CalloutLayer2"
          #calloutLayer2
          isAutoCalloutBehaviorEnabled="true"
          calloutLeaderBrush="rgba(0, 0, 0, 0)"
          calloutOutline="rgba(0, 0, 0, 0)"
          calloutBackground="rgba(0, 0, 0, 0)"
          calloutTextColor="black"
          calloutStrokeThickness="2"
          calloutPaddingTop="0"
          calloutPositionPadding="0">
          </igx-callout-layer>
          <igx-data-tool-tip-layer
          name="Tooltips"
          #tooltips>
          </igx-data-tool-tip-layer>
      </igx-data-chart>
  </div>
</div>
