<div class="container vertical sample">
  <div class="legend-title">
      Total Population of Selected Countries
  </div>
  <div class="legend">
      <igx-legend
      name="legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      name="chart"
      #chart
      [legend]="legend">
          <igx-numeric-x-axis
          name="xAxis"
          #xAxis
          isLogarithmic="true"
          abbreviateLargeNumbers="true"
          title="Population">
          </igx-numeric-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="Public Debt per GDP (%)"
          titleLeftMargin="5"
          isLogarithmic="false"
          maximumValue="120">
          </igx-numeric-y-axis>
          <igx-bubble-series
          name="bubbleSeries1"
          #bubbleSeries1
          title="African Countries"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="population"
          yMemberPath="publicDebt"
          radiusMemberPath="gdpPerPerson"
          xMemberAsLegendLabel="Population"
          yMemberAsLegendLabel="Debt"
          radiusMemberAsLegendLabel="GDP"
          [dataSource]="countryStatsAfrica"
          markerType="Circle"
          showDefaultTooltip="true"
          [radiusScale]="sizeScale1">
          </igx-bubble-series>
          <igx-bubble-series
          name="bubbleSeries2"
          #bubbleSeries2
          title="European Countries"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          xMemberPath="population"
          yMemberPath="publicDebt"
          radiusMemberPath="gdpPerPerson"
          xMemberAsLegendLabel="Population"
          yMemberAsLegendLabel="Debt"
          radiusMemberAsLegendLabel="GDP"
          [dataSource]="countryStatsEurope"
          markerType="Circle"
          showDefaultTooltip="true"
          [radiusScale]="sizeScale2">
          </igx-bubble-series>
      </igx-data-chart>
  </div>
</div>
