
@use "igniteui-angular/theming" as *;
@include core();
/* autoprefixer grid:on */
@include theme($default-palette);

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}
