<div class="container vertical"    >
        <igx-radial-gauge #radialGauge
            labelExtent=0.65
            labelInterval=10
            highlightValueDisplayMode="Overlay"
            highlightValue=50
            highlightLabelDisplaysValue=true
            highlightLabelSnapsToNeedlePivot=true
            isHighlightNeedleDraggingEnabled=true
            height="100%" width="100%"
            minimumValue=0 value=30
            maximumValue=100 interval=10  >
        </igx-radial-gauge>
</div>
