<div class="container vertical sample">
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="StepLine"
      isCategoryHighlightingEnabled="true"
      yAxisTitle="TWh"
      [dataSource]="countryRenewableElectricity"
      includedProperties="year, europe"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      crosshairsSnapToData="true"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
