<div class="container sample">

  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="XAxisTickLength"
          label="X Axis Tick Length"
          valueType="Slider"
          shouldOverrideDefaultEditor="true"
          primitiveValue="10"
          min="0"
          max="20">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Line"
      xAxisTickLength="10"
      yAxisTickLength="0"
      xAxisTickStroke="gray"
      yAxisTickStroke="rgba(0, 0, 0, 0)"
      xAxisTickStrokeThickness="1"
      yAxisTickStrokeThickness="0"
      [dataSource]="countryRenewableElectricity"
      includedProperties="Year, Europe, China, USA"
      [legend]="legend"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
