<div class="container vertical sample">
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="legend">
      <igx-legend
      name="Legend"
      #legend
      orientation="Horizontal">
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      [dataSource]="countryRenewableElectricity"
      [legend]="legend"
      name="chart"
      #chart
      chartType="StepArea"
      titleAlignment="Left"
      titleLeftMargin="25"
      titleTopMargin="10"
      titleBottomMargin="10"
      isCategoryHighlightingEnabled="true"
      isSeriesHighlightingEnabled="true"
      isTransitionInEnabled="true"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      yAxisTitle="TWh"
      crosshairsSnapToData="true">
      </igx-category-chart>
  </div>
</div>
