<div class="container vertical sample">
  <div class="legend-title">
      Wind Speed vs Boat Speed
  </div>
  <div class="container fill">
      <igx-data-chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      name="chart"
      #chart>
          <igx-numeric-angle-axis
          startAngleOffset="-90"
          minimumValue="0"
          maximumValue="360"
          interval="30"
          name="angleAxis"
          #angleAxis>
          </igx-numeric-angle-axis>
          <igx-numeric-radius-axis
          radiusExtentScale="0.9"
          innerRadiusExtentScale="0.1"
          minimumValue="0"
          maximumValue="100"
          interval="25"
          name="radiusAxis"
          #radiusAxis>
          </igx-numeric-radius-axis>
          <igx-polar-spline-area-series
          angleMemberPath="direction"
          radiusMemberPath="windSpeed"
          [angleAxis]="angleAxis"
          [radiusAxis]="radiusAxis"
          markerType="Circle"
          [dataSource]="boatSailingData"
          thickness="1"
          areaFillOpacity="0.8"
          showDefaultTooltip="true"
          title="Wind Speed"
          name="PolarSplineAreaSeries1"
          #polarSplineAreaSeries1>
          </igx-polar-spline-area-series>
          <igx-polar-spline-area-series
          [dataSource]="boatSailingData"
          [angleAxis]="angleAxis"
          [radiusAxis]="radiusAxis"
          angleMemberPath="direction"
          radiusMemberPath="boatSpeed"
          showDefaultTooltip="true"
          areaFillOpacity="0.8"
          thickness="1"
          title="Boat Speed"
          markerType="Circle"
          name="PolarSplineAreaSeries2"
          #polarSplineAreaSeries2>
          </igx-polar-spline-area-series>
      </igx-data-chart>
  </div>
</div>
