<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      name="PropertyEditor"
      #propertyEditor
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true">
          <igx-property-editor-property-description
          propertyPath="CrosshairsDisplayMode"
          name="CrosshairsDisplayModeEditor"
          #crosshairsDisplayModeEditor
          label="Crosshairs: "
          primitiveValue="Both">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="HighlightingMode"
          name="HighlightingModeEditor"
          #highlightingModeEditor
          label="Highlighting: "
          primitiveValue="BrightenSpecific">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="AutoCalloutsVisible"
          name="CalloutsVisibleEditor"
          #calloutsVisibleEditor
          label="Callouts: "
          shouldOverrideDefaultEditor="true"
          primitiveValue="True">
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          propertyPath="FinalValueAnnotationsVisible"
          name="FinalValueAnnotationsEditor"
          #finalValueAnnotationsEditor
          label="Final Value: "
          shouldOverrideDefaultEditor="true"
          primitiveValue="True">
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Average Temperature in Sydney
  </div>
  <div class="container fill">
      <igx-category-chart
      name="chart"
      #chart
      chartType="Column"
      computedPlotAreaMarginMode="Series"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      includedProperties="month, temperature"
      [dataSource]="temperatureAnnotatedData"
      autoCalloutsVisible="true"
      isCategoryHighlightingEnabled="true"
      highlightingMode="BrightenSpecific"
      highlightingBehavior="NearestItemsAndSeries"
      crosshairsDisplayMode="Both"
      crosshairsAnnotationYAxisPrecision="0"
      crosshairsAnnotationXAxisBackground="black"
      finalValueAnnotationsVisible="true"
      finalValueAnnotationsBackground="dodgerblue"
      finalValueAnnotationsTextColor="white"
      finalValueAnnotationsPrecision="0"
      yAxisMaximumValue="35"
      yAxisLabelLocation="OutsideRight">
      </igx-category-chart>
  </div>
</div>
