<div class="container vertical sample">
  <div class="aboveContentSplit">
    <div class="aboveContentLeftContainer">
      <igx-toolbar
      name="Toolbar"
      #toolbar
      [target]="chart"
      orientation="Horizontal"
      (onCommand)="this.toolbarToggleTooltip($event)">
          <igx-tool-action-checkbox
          name="EnableTooltipsLabel"
          #enableTooltipsLabel
          title="Enable Tooltips"
          beforeId="ZoomReset"
          commandId="EnableTooltips">
          </igx-tool-action-checkbox>
          <igx-tool-action-label
          name="ZoomResetHidden"
          #zoomResetHidden
          overlayId="ZoomReset"
          visibility="Collapsed">
          </igx-tool-action-label>
          <igx-tool-action-label
          name="ZoomResetLabel"
          #zoomResetLabel
          title="Reset"
          afterId="ZoomOut"
          iconName="reset"
          iconCollectionName="ChartToolbarIcons"
          commandId="ZoomReset">
          </igx-tool-action-label>
          <igx-tool-action-icon-menu
          name="AnalyzeMenu"
          #analyzeMenu
          overlayId="AnalyzeMenu"
          visibility="Collapsed">
          </igx-tool-action-icon-menu>
      </igx-toolbar>
    </div>
    <div class="aboveContentRightContainer">
      <!-- insert aboveContentRight -->
      <!-- end aboveContentRight -->
    </div>
  </div>
  <div class="container fill">
      <igx-data-chart
      computedPlotAreaMarginMode="Series"
      isHorizontalZoomEnabled="true"
      isVerticalZoomEnabled="true"
      name="chart"
      #chart>
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          [dataSource]="countryRenewableElectricity"
          label="year">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="TWh">
          </igx-numeric-y-axis>
          <igx-line-series
          name="LineSeries1"
          #lineSeries1
          title="Electricity"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="america">
          </igx-line-series>
          <igx-line-series
          name="LineSeries2"
          #lineSeries2
          title="Electricity"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="europe">
          </igx-line-series>
          <igx-line-series
          name="LineSeries3"
          #lineSeries3
          title="Electricity"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="china">
          </igx-line-series>
      </igx-data-chart>
  </div>
</div>
