<div class="container vertical sample">
  <div class="aboveContent">
    <igx-toolbar
    name="Toolbar"
    #toolbar
    [target]="chart"
    orientation="Horizontal">
        <igx-tool-action-label
        >
        </igx-tool-action-label>
        <igx-tool-action-label
        >
        </igx-tool-action-label>
        <igx-tool-action-label
        iconName="MyCustomIcon"
        iconCollectionName="MyCustomCollection"
        (onCommand)="this.myCustomAction($event)"
        name="toolActionLabel1"
        #toolActionLabel1>
        </igx-tool-action-label>
    </igx-toolbar>
  </div>
  <div class="container fill">
      <igx-data-chart
      isHorizontalZoomEnabled="true"
      name="chart"
      #chart>
          <igx-category-x-axis
          name="xAxis"
          #xAxis
          [dataSource]="countryRenewableElectricity"
          label="year">
          </igx-category-x-axis>
          <igx-numeric-y-axis
          name="yAxis"
          #yAxis
          title="TWh">
          </igx-numeric-y-axis>
          <igx-line-series
          name="LineSeries1"
          #lineSeries1
          title="Electricity"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="america">
          </igx-line-series>
          <igx-line-series
          name="LineSeries2"
          #lineSeries2
          title="Electricity"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="europe">
          </igx-line-series>
          <igx-line-series
          name="LineSeries3"
          #lineSeries3
          title="Electricity"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [dataSource]="countryRenewableElectricity"
          valueMemberPath="china">
          </igx-line-series>
      </igx-data-chart>
  </div>
</div>
