<div class="container sample">

  
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="StepLine"
      xAxisInterval="1"
      isCategoryHighlightingEnabled="true"
      yAxisTitle="TWh"
      [dataSource]="countryRenewableElectricity"
      includedProperties="Year, Europe, China, USA"
      [legend]="legend"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      isSeriesHighlightingEnabled="true"
      crosshairsSnapToData="true"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
