<div class="container sample">

  
  <div class="legend-title">
      Global Electricity Demand by Energy Use
  </div>
  <div class="legend">
      <igx-item-legend
      orientation="Horizontal"
      name="legend"
      #legend>
      </igx-item-legend>
  </div>
  <div class="container fill">
      <igx-doughnut-chart
      allowSliceExplosion="true"
      name="chart"
      #chart>
          <igx-ring-series
          [dataSource]="energyGlobalDemand"
          valueMemberPath="value"
          labelMemberPath="summary"
          legendLabelMemberPath="category"
          labelsPosition="OutsideEnd"
          [legend]="legend"
          labelExtent="30"
          startAngle="30"
          outlines="white"
          radiusFactor="0.6"
          name="series"
          #series>
          </igx-ring-series>
      </igx-doughnut-chart>
  </div>
</div>
