<div class="container sample">

  
  <div class="legend-title">
      Monthly Temperature Range in LA and NYC
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-data-chart
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      [legend]="legend"
      name="chart"
      #chart>
          <igx-category-x-axis
          interval="1"
          [dataSource]="temperatureRangeData"
          label="month"
          name="xAxis"
          #xAxis>
          </igx-category-x-axis>
          <igx-numeric-y-axis
          title="Temperature (in Celsius)"
          titleAngle="90"
          titleLeftMargin="10"
          name="yAxis"
          #yAxis>
          </igx-numeric-y-axis>
          <igx-range-column-series
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          lowMemberPath="lA_Low"
          highMemberPath="lA_High"
          [dataSource]="temperatureRangeData"
          title="Los Angeles"
          name="series1"
          #series1>
          </igx-range-column-series>
          <igx-range-column-series
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          title="New York City"
          lowMemberPath="nY_Low"
          highMemberPath="nY_High"
          [dataSource]="temperatureRangeData"
          name="series2"
          #series2>
          </igx-range-column-series>
      </igx-data-chart>
  </div>
</div>
