<div class="container sample">

  
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Line"
      yAxisTitleLeftMargin="5"
      xAxisTitleTextColor="gray"
      yAxisTitleTextColor="gray"
      xAxisTitleTextStyle="10pt 'Titillium Web'"
      yAxisTitleTextStyle="10pt 'Titillium Web'"
      xAxisTitle="Year"
      yAxisTitle="Trillions of Watt-hours (Twh)"
      xAxisTitleAngle="0"
      yAxisTitleAngle="90"
      [dataSource]="countryRenewableElectricity"
      includedProperties="Year, Europe, China, USA"
      [legend]="legend"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
