<div class="container vertical sample">
  <div class="options vertical">
      <igx-property-editor-panel
      [componentRenderer]="renderer"
      [target]="chart"
      descriptionType="CategoryChart"
      isHorizontal="true"
      isWrappingEnabled="true"
      name="propertyEditorPanel1"
      #propertyEditorPanel1>
          <igx-property-editor-property-description
          propertyPath="XAxisLabelAngle"
          label="X Axis Label Angle"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="0, 45, 90, 135, 180, 225, 270"
          dropDownValues="0, 45, 90, 135, 180, 225, 270"
          primitiveValue="0"
          name="XAxisLabelAngleEditor"
          #xAxisLabelAngleEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="-90, -45, 0, 45, 90"
          primitiveValue="0"
          propertyPath="YAxisLabelAngle"
          label="Y Axis Label Angle"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="-90, -45, 0, 45, 90"
          name="YAxisLabelAngleEditor"
          #yAxisLabelAngleEditor>
          </igx-property-editor-property-description>
          <igx-property-editor-property-description
          dropDownValues="red, green"
          primitiveValue="red"
          propertyPath="XAxisLabelTextColor"
          label="Y Axis Label Color"
          valueType="EnumValue"
          shouldOverrideDefaultEditor="true"
          dropDownNames="red, green"
          name="XAxisLabelTextColorEditor"
          #xAxisLabelTextColorEditor>
          </igx-property-editor-property-description>
      </igx-property-editor-panel>
  </div>
  <div class="legend-title">
      Renewable Electricity Generated
  </div>
  <div class="legend">
      <igx-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-legend>
  </div>
  <div class="container fill">
      <igx-category-chart
      chartType="Line"
      xAxisLabelTopMargin="5"
      yAxisLabelRightMargin="5"
      xAxisLabelTextColor="gray"
      yAxisLabelTextColor="gray"
      xAxisLabelTextStyle="10pt 'Titillium Web'"
      yAxisLabelTextStyle="10pt 'Titillium Web'"
      xAxisLabelAngle="0"
      yAxisLabelAngle="0"
      yAxisLabelLocation="OutsideRight"
      titleTopMargin="10"
      topMargin="20"
      [dataSource]="countryRenewableElectricity"
      includedProperties="year, europe, china, america"
      [legend]="legend"
      isHorizontalZoomEnabled="false"
      isVerticalZoomEnabled="false"
      computedPlotAreaMarginMode="Series"
      name="chart"
      #chart>
      </igx-category-chart>
  </div>
</div>
