<div class="container sample">

  
  <div class="legend-title">
      Global Electricity Demand by Energy Use
  </div>
  <div class="legend">
      <igx-item-legend
      orientation="Horizontal"
      name="Legend"
      #legend>
      </igx-item-legend>
  </div>
  <div class="container fill">
      <igx-pie-chart
      [dataSource]="energyGlobalDemand"
      valueMemberPath="value"
      labelMemberPath="summary"
      legendLabelMemberPath="summary"
      labelsPosition="OutsideEnd"
      radiusFactor="0.7"
      [legend]="legend"
      labelExtent="30"
      outlines="white"
      name="chart"
      #chart>
      </igx-pie-chart>
  </div>
</div>
